/* TabbedInterface.css */
.tabs {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: hsl(0, 0%, 50%); /* Add background color */
}

.tabs button {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.tabs button:hover {
  background-color: #ddd;
}

.tab-content {
  padding: 20px;
}
